.root {
  overflow: hidden;
}

.cover {
  margin-top: -8px;
  margin-right: -20px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 120px;
  font-weight: 700;

  opacity: 0.1;
}
