
.header {
  background-color: transparent;
}

.content {
  padding: 0;
}

.topBg {
  min-height: 160px;
  margin-bottom: -32px;
  margin-right: -20px;

  font-family: var(--joy-fontFamily-body);
  font-size: 120px;
  font-weight: 700;

  opacity: 0.1;
}

.avatar {
  margin-top: -56px;
}