.root {
  background-color: #fff;
  width: 100%;
  min-height: 60px;
  padding: 8px 16px;
  box-shadow: 0 2px 20px -8px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
}

.left {
  margin-right: 8px;
}

.content {

}