.root {
  position: relative;
  background-color: #fff;
  width: 100%;
  padding: 0 8px;
  display: flex;
  align-items: center;

  &::before {
    content: '';

    position: absolute;
    right: 16px;
    bottom: 0;
    left: 16px;

    background-color: #e1e1e1;
    height: 1px;
  }

  &.noBorder::before {
    opacity: 0;
  }
}

.left {
  min-height: 56px;

  display: flex;
  align-items: center;
}

.back {
  //
}

.avatar {
  padding-left: 8px;
}

.content {
  min-height: 56px;

  display: flex;
  align-items: center;
  padding-left: 8px;
}