.root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.headerWrapper {
  width: 100%;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  min-height: max-content;
}

.content {
  z-index: 0;
  width: 100%;
  padding: 8px 0;
  flex: 1 1 0;
}

.footerWrapper {
  width: 100%;
}

.footer {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  min-height: max-content;
}

.alerts {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 8px 16px;
}

.modals {
  z-index: 20;
}