.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  padding: 16px;
  flex: 1 1 0;
}

.header {
  padding: 8px 16px;
  width: 100%;

  // background: linear-gradient(180deg, rgba(225,240,255,1) 0%, rgba(255,255,255,1) 100%);
}

.footer {
  padding: 8px 16px;
  width: 100%;

  // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(225,240,255,1) 100%);
}